# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/

# SWC cache
.swc/

# TypeScript
tsconfig.tsbuildinfo
*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
imgsborrar/
referencia.jpg
